.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100dvh;
  background-color: #eee;
  padding: 30px;
}

.button-container {
  display: flex;
  align-items: flex-end;
  min-height: 100px;
}